IDENTIFICACION=123123123123123
NOMBRE=pepito perez
URL=https://www.segurossura.com.co/covid-19/encuestas/paginas/sintomas.aspx?sector={{{{sector empresa}}}}&idEmpresa={{{{id empresa}}}}==&nitEmpresa={{{{nit empresa}}}}&mail={{{{mail autorizado}}}}